specifications/xpath-functions-40/src/fos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
           targetNamespace="http://www.w3.org/xpath-functions/spec/namespace" 
		   xmlns:fos="http://www.w3.org/xpath-functions/spec/namespace"
       xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:attributeGroup name="diff-markup">
    <xs:attribute name="diff" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="add"/>
          <xs:enumeration value="chg"/>
          <xs:enumeration value="del"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="at" type="xs:NMTOKEN" use="optional"/>   
  </xs:attributeGroup>
  <xs:element name="functions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:global-variables" minOccurs="0"/>
        <xs:element ref="fos:record-type" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="fos:function" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="global-variables">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:variable" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="record-type">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:summary" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="fos:field" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="extensible" use="required" type="xs:boolean"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="field">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="meaning" type="xs:anyType" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="required" use="required" type="xs:boolean"/>
      <xs:attribute name="type" use="required" type="xs:string"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="function">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:signatures"/>
        <xs:element ref="fos:opermap" minOccurs="0"/>
        <xs:element ref="fos:properties" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="fos:summary"/>
        <xs:element ref="fos:rules"/>
        <xs:element ref="fos:equivalent" minOccurs="0"/>
        <xs:element ref="fos:errors" minOccurs="0"/>
        <xs:element ref="fos:notes" minOccurs="0"/>
        <xs:element ref="fos:examples" minOccurs="0"/>
        <xs:element ref="fos:see-also" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="fos:changes" minOccurs="0"/>
        <xs:element ref="fos:history" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="prefix" use="optional" type="xs:NCName"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="signatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:proto" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proto">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:arg" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:Name"/>
      <xs:attribute name="return-type" use="optional"/>
      <xs:attribute name="return-type-ref" type="xs:IDREF" use="optional">
        <xs:annotation>
          <xs:documentation>
            A reference to a fos:type definition, typically a record type definition.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="return-type-ref-occurs" type="fos:occurrence-indicator" use="optional">
        <xs:annotation>
          <xs:documentation>
            Qualifies the @return-type-ref reference with an occurrence indicator.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attributeGroup ref="fos:diff-markup"/>
      <xs:assert test="count((@return-type, @return-type-ref)) eq 1"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arg">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="fos:NCName-or-ellipsis"/>
      <xs:attribute name="type" use="optional"/>
      <xs:attribute name="required" type="xs:boolean"/>
      <xs:attribute name="type-ref" type="xs:IDREF" use="optional">
        <xs:annotation>
          <xs:documentation>
            A reference to a fos:type definition, typically a record type definition.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="type-ref-occurs" type="fos:occurrence-indicator" use="optional">
        <xs:annotation>
          <xs:documentation>
            Qualifies the @type-ref reference with an occurrence indicator.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="default" use="optional" type="xs:string"/>
      <!-- This should be an IDREF, but the structure of the document makes it
           impossible to establish an ID on the target...but that's okay
           because it's an IDREF in the DTD that's used downstream -->
      <xs:attribute name="note" use="optional" type="xs:NCName"/>
      <xs:attribute name="usage" use="optional" type="fos:operand-usage">
        <xs:annotation>
          <xs:documentation>
            Used by XSLT for streamability analysis.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="example" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            An example of a valid value for the argument: used for test data generation. If omitted,
            a generic instance of the required data type is used.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attributeGroup ref="fos:diff-markup"/>
      <xs:assert test="count((@return-type, @return-type-ref)) le 1"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="opermap">
    <xs:complexType mixed="true">
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##local" processContents="skip"/>
      </xs:sequence>
      <xs:attribute name="operator" use="required"/>
      <xs:attribute name="other-operators"/>
      <xs:attribute name="types" use="required"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:property" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="arity" type="xs:nonNegativeInteger" use="optional"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>  
  </xs:element>
  <xs:element name="property">
    <xs:complexType>
      <xs:simpleContent>
          <xs:extension base="fos:property-type">
            <xs:attribute name="dependency" use="optional">
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="collations"/>
                      <xs:enumeration value="executable-base-uri"/>
                      <xs:enumeration value="static-base-uri"/>
                      <xs:enumeration value="available-documents"/>
                      <xs:enumeration value="available-collections"/>
                      <xs:enumeration value="available-uri-collections"/>
                      <xs:enumeration value="character-maps"/>
                      <xs:enumeration value="decimal-formats"/>
                      <xs:enumeration value="default-calendar"/>
                      <xs:enumeration value="default-language"/>
                      <xs:enumeration value="default-place"/>
                      <xs:enumeration value="implicit-timezone"/>
                      <xs:enumeration value="environment-variables"/>
                      <xs:enumeration value="known-function-signatures"/>
                      <xs:enumeration value="namespaces"/>
                      <xs:enumeration value="schema-definitions"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="property-type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="focus-dependent"/>
      <xs:enumeration value="focus-independent"/>
      <xs:enumeration value="deterministic"/>
      <xs:enumeration value="nondeterministic"/>
      <xs:enumeration value="nondeterministic-wrt-ordering"/>
      <xs:enumeration value="context-dependent"/>
      <xs:enumeration value="context-independent"/>
      <xs:enumeration value="higher-order"/>
      <xs:enumeration value="special-streaming-rules"/>
      <xs:enumeration value="variadic"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="summary">
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="##local" processContents="skip"/>
      </xs:sequence>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="rules">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:any namespace="##local" processContents="skip"/>
        <xs:element ref="fos:options"/>
        <xs:element ref="fos:record-description"/>
      </xs:choice>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="equivalent">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="style">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="xpath-expression"/>
                <xs:enumeration value="xquery-expression"/>
                <xs:enumeration value="xquery-function"/>
                <xs:enumeration value="dm-primitive"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="covers-error-cases" use="optional" default="true" type="xs:boolean"/>
          <xs:attribute name="arity" use="optional" type="xs:nonNegativeInteger"/>
          <xs:attributeGroup ref="fos:diff-markup"/>         
        </xs:extension>
      </xs:simpleContent>
      
    </xs:complexType>
  </xs:element>
  <xs:element name="errors">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:any namespace="##local" processContents="skip"/>
      </xs:sequence>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="notes">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:any namespace="##local" processContents="skip"/>
      </xs:sequence>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="examples">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="fos:example"/>
        <xs:element ref="fos:variable"/>
      </xs:choice>
      <xs:attributeGroup ref="fos:diff-markup"/>
      <xs:attribute name="role" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="variable">
    <xs:complexType mixed="true">
      <xs:attribute name="as"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attribute name="select"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="example">
    <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:any namespace="##local" processContents="skip"/>
          <xs:element ref="fos:test"/>
        </xs:choice>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="history">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:version" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="changes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="change" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:any namespace="##local" processContents="skip"/>
            </xs:sequence>
            <xs:attributeGroup ref="fos:diff-markup"/>
            <xs:attribute name="date" type="xs:date"/>
            <xs:attribute name="issue">
              <xs:simpleType>
                <xs:list itemType="xs:positiveInteger"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="PR">
              <xs:simpleType>
                <xs:list itemType="xs:positiveInteger"/>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="see-also">
    <xs:complexType>
      <xs:attribute name="name" type="xs:NCName"/>
      <xs:attribute name="prefix" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="version">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any namespace="##local" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:expression"/>
        <xs:choice>
          <xs:element ref="fos:result" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="fos:error-result"/>
        </xs:choice>
        <xs:element name="test-assertion" minOccurs="0" maxOccurs="1">
          <!-- A 'result' element to be used in the generated test, for use in cases where the result as presented
            in the spec cannot be used as-is in the test, for example because (a) it uses XQuery, or (b) because there
            are variations documented in the postamble -->
          <!-- We avoid bringing in the schema for the qt3 test suite because it's too much hassle. --> 
            <xs:complexType>
              <xs:sequence>
                <xs:any namespace="http://www.w3.org/2010/09/qt-fots-catalog" processContents="skip"/>
              </xs:sequence>
              <xs:assert test="local-name(*) eq 'result'"/>
            </xs:complexType>           
        </xs:element>
        <xs:element ref="fos:postamble" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="use" type="xs:IDREFS"/>
      <xs:attribute name="default-collation" type="xs:anyURI"/>
      <xs:attribute name="implicit-timezone" type="xs:duration"/>
      <xs:attribute name="schema-aware" type="xs:boolean"/>
      <xs:attribute name="xslt-version" type="xs:decimal"/>
      <xs:attribute name="spec" default="XPath">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="XPath"/>
            <xs:enumeration value="XQuery"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="expression">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any namespace="##local" processContents="skip" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute ref="xml:space"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="result">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any namespace="##local" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="allow-permutation" type="xs:boolean"/>
      <xs:attribute name="approx" type="xs:boolean"/>
      <xs:attribute name="ignore-prefixes" type="xs:boolean"/>
      <xs:attribute name="normalize-space" type="xs:boolean"/>
      <xs:attribute name="narrative" type="xs:boolean"/>
      <xs:attribute name="as" type="xs:string"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="error-result">
    <xs:complexType>
      <xs:attribute name="error-code" type="xs:string"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="postamble">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##local" processContents="skip"/>
      </xs:choice>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="NCName-or-ellipsis">
  	<xs:union memberTypes="xs:NCName">
	  <xs:simpleType>
	    <xs:restriction base="xs:string">
	      <xs:enumeration value="..."/>
		  </xs:restriction>
	  </xs:simpleType>
	</xs:union>
  </xs:simpleType>
  
  <xs:simpleType name="occurrence-indicator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="*"/>
      <xs:enumeration value="+"/>
      <xs:enumeration value="?"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="operand-usage">
    <xs:restriction base="xs:NCName">
      <xs:enumeration value="inspection"/>
      <xs:enumeration value="absorption"/>
      <xs:enumeration value="transmission"/>
      <xs:enumeration value="navigation"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="option" minOccurs="1" maxOccurs="unbounded">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="applies-to" type="xs:string" minOccurs="0"/>
               <xs:element name="meaning" type="xs:anyType"/>
               <xs:element name="type" type="xs:string"/>
               <xs:element name="default" type="xs:string" minOccurs="0"/>
               <xs:element name="default-description" type="xs:anyType" minOccurs="0"/>
               <xs:element name="values" minOccurs="0">
                 <xs:complexType>
                   <xs:sequence>
                     <xs:element name="value" minOccurs="1" maxOccurs="unbounded">
                       <xs:complexType mixed="true">
                         <xs:sequence minOccurs="0" maxOccurs="unbounded">
                           <xs:any namespace="##local" processContents="skip"/>
                         </xs:sequence>
                         <xs:attribute name="value" type="xs:string" use="required"/>
                       </xs:complexType>
                     </xs:element>
                   </xs:sequence>
                 </xs:complexType>
               </xs:element>
             </xs:sequence>
             <xs:attribute name="key" type="xs:string" use="required"/>
             <xs:attributeGroup ref="fos:diff-markup"/>
           </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="record-description">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="option" minOccurs="1" maxOccurs="unbounded">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="meaning" type="xs:anyType"/>
               <xs:element name="type" type="xs:string"/>
               <xs:element name="required" type="xs:boolean" minOccurs="0"/>
               <xs:element name="default" type="xs:string" minOccurs="0"/>
               <xs:element name="default-description" type="xs:anyType" minOccurs="0"/>
               <xs:element name="values" minOccurs="0">
                 <xs:complexType>
                   <xs:sequence>
                     <xs:element name="value" minOccurs="1" maxOccurs="unbounded">
                       <xs:complexType mixed="true">
                         <xs:sequence minOccurs="0" maxOccurs="unbounded">
                           <xs:any namespace="##local" processContents="skip"/>
                         </xs:sequence>
                         <xs:attribute name="value" type="xs:string" use="required"/>
                       </xs:complexType>
                     </xs:element>
                   </xs:sequence>
                 </xs:complexType>
               </xs:element>
             </xs:sequence>
             <xs:attribute name="key" type="xs:string" use="required"/>
             <xs:attributeGroup ref="fos:diff-markup"/>
           </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="extensible" type="xs:boolean"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
